*{
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
}


.navbar{
    background:beige;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo a{
    font-size: 35px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.li{
    list-style: none;
    display: inline-block;
}

.li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;

}

button{
    background-color: red;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color:white;
    font-weight: bold;
    font-size: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .homepagephoto{
    width: 100%;
    max-height: 50%;
    display: flex;
  }

  h1{
    text-align: center;
  }

 .newsbox{
    display: flexbox;
    padding: 2.4375em 0px;
    /*background-color: #08B0BF;*/
    background-color: beige;
    color: black;
    max-width: 1170px;
    margin-inline: auto;
    border-radius: 20px;
 }

 .whatsnew{
  font-size: 32px;
  text-align: center;
  
 }

 .whatsnew ul{
  text-align: left;
 }

 .foottext{
  padding-top: 100px;
}

.foottext p{
  color: rgb(204, 140, 121);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.footimages ul{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footimages img{
  width: 40px;
  height: 40px;
  padding-right: 7px;
  padding-bottom: 30px;
}

#foot{
  font-size: 10px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}