:root{
    --darkerblue: #008DDA;
    --lighterblue: #41C9E2;
    --lightestblue: #ACE2E1;
    --beige: #F7EEDD;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
    
}

header{
    display: flex;
    height: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--darkerblue);
}

.nav__container{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 0 35px;
}

  
  button{
    background-color: red;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
  }
  
  
  button a{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.nav__logo {
    font-size: 26px;
    color: red;
    text-decoration: none;
    font-weight: 900;
}

.nav__btn {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 5px;
    border-radius: 20px ;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav__btn:hover{
    background: rgba( 255, 255, 255, 0.50 );
}

.nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    display: none;
    width: 54.5px;
}


  
.line {
    width: 17px;
    margin: 1.5px;
    height: 2.6px;
    background-color: #fff;
}

.nav__menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__menu .fa-times{
    display: none;
}

.nav__links {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    font-size: 17px;
    padding: 0 10px;
    font-weight: 600;
    color: black;
}

.nav__link:hover {
    opacity: 0.5;
}


@media screen and (max-width:720px) {
    .nav__burger{
        display: inline-flex;
    }

    .nav__menu{
        position: absolute;
        height: 700px;
        width: 92%;
        top: 10%;
        left: 4%;
        border-radius: 2.25%;
        padding: 20px 40px 20px  40px;
        flex-direction: column;
        background-color:blue;
        opacity: 0;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.90 );
        backdrop-filter: blur( 14px );
        transform: translateY(-110%);
        transition: opacity 0.15s ease-in, transform 0s ease-in;
    }

    .nav__menu .fa-times{
        display: unset;
        color: darkslateblue;
        cursor: pointer;    
        align-self: flex-end;
    }

    .nav__menu .fa-times:hover{
        opacity: 0.6;
    }

    .nav__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 550px;
    }
    
    .nav__link{
        color: darkslateblue;
        font-weight: 600;
        font-size: 20px;
    }

}

.nav__menu.active{
    display: flex;
    transform: translateY(0);
    opacity: 0.97;
}    

.HomepageHero{
    height: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    container: inline-size; /* Declare the container with inline-size containment */
    transition: height 0.3s ease;
    flex-direction: column;
}

.section__container{
    height: 100%;
    width:1200px ;
    position: relative;
    padding: 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:580px) {
    .section__container{
        padding: 0 15px;
    }
}

.HomepageHero__bg{
    height: 100%;
    width: 100%;
    background-image:url(assets/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.HomepageHero__headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.HomepageHero__header{
    color: black;
    font-size: clamp(25px,5cqi,50px);
}


@media screen and (max-width:600px) {
    .section__container{
        padding: 0 15px;
    }
}

@media screen and (min-width:2560px) {
    .HomepageHero{
       height: 1500px;
    }  
}

.HomepageUpdates{
    height: 800px;
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    container: inline-size; /* Declare the container with inline-size containment */
    transition: height 0.3s ease;
    background-color: #f1f1f1;
}

.layout--updates{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.HomepageUpdates__article{
    width: 100%;
    border: 5px solid black;
    border-radius: 20px;
    height: 80%;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--lighterblue);
}

.HomepageUpdatesArticle__header{
    font-size: clamp(30px,8cqi,50px);
    align-self: center;
    font-family: pepmdx;
}


.HomepageUpdatesArticle__list{
    font-size:clamp(20px,3cqi,29px) ;
    margin-bottom: 20px;
    font-family: pepmdx;
}

/* .HomepageUpdates__header{
    height: 20%;
    font-size:clamp(70px,10cqi,120px);
    color: white;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke:2px black;
    text-shadow: 0 0 10px black;
    transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in;
    opacity: 0;
} */
.HomepageUpdates__headerContainer{
    height: 20%;

    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;

}
    
    
.HomepageUpdates__header{
    font-size:  clamp(70px,10cqi,120px);
    height: 100%;
    color: var(--lightestblue);
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke:2px black;
    text-shadow: 0 0 10px black;
    transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in;
    opacity: 0;
}
    

.HomepageUpdates__header.appear{
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .HomepageUpdates{
       height: 900px;
    } 
}



.HomepageInfo {
    height: 400px; /* Default height */
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    container: inline-size; /* Declare the container with inline-size containment */
    transition: height 0.3s ease;
    background-color: var(--lightestblue);
}

/* Layout styling */
.layout--info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
   
    width: 100%;
}

/* Card container styling */
.HomepageInfo__cardContainer {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 32%);
    gap: 10px; /* Add some gap between cards */
}

/* Card styling */
.HomepageInfo__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;
    opacity: 0;
}

.HomepageInfo__card.appear{
    opacity: 1;
}

.HomepageInfo__card:hover{
    transform: translate(-5%, -5%);
    height: 110%;
    width: 110%;
    opacity: 50%;
    transition:opacity 0.25s ease ;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
}

.HomepageInfoCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}

.HomepageInfoCard__body {
    width: 100%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 520px)  {
    .HomepageInfo{
        height: 1000px;
    }
    .HomepageInfo__cardContainer{
        grid-template-columns:100%;
        grid-template-rows: repeat(3, 32%);
    }

    .HomepageInfo__card{
        width: 100%;
    }
}

.foottext{
    padding-top: 100px;
    }
    
    
    .foottext p{
    color: rgb(204, 140, 121);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    }
    
    
    .footimages ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
    
    
    .footimages img{
    width: 40px;
    height: 40px;
    padding-right: 7px;
    padding-bottom: 30px;
    }
    
    
    #foot{
    font-size: 10px;
    text-align: center;
    }
    
    
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-instagram {
    background: #125688;
    color: white;
    }
    .fa-youtube {
    background: #bb0000;
    color: white;
    }
