* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
}

header {
    display: flex;
    height: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.nav__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 0 35px;
    background: yellow;
}

.nav__logo {
    font-size: 26px;
    color: red;
    text-decoration: none;
    font-weight: 900;
}

.nav__logo:hover {
    opacity: 0.5;
}

.nav__btn {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav__btn:hover {
    background: rgba(255, 255, 255, 0.50);
}

.nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    display: none;
    width: 54.5px;
}

.line {
    width: 17px;
    margin: 1.5px;
    height: 2.6px;
    background-color: #fff;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav__menu .fa-times {
    display: none;
}

.nav__links {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: red;
    font-size: 17px;
    padding: 0 10px;
    font-weight: 600;
}

.nav__link:hover {
    opacity: 0.5;
}

.SignIn {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    width: 120px;
}



@media screen and (max-width:720px) {
    .nav__burger {
        display: inline-flex;
    }

    .nav__menu {
        position: absolute;
        height: 700px;
        width: 92%;
        top: 10%;
        left: 4%;
        border-radius: 2.25%;
        padding: 20px 40px 20px 40px;
        flex-direction: column;
        background-color: blue;
        opacity: 0;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.90);
        backdrop-filter: blur(14px);
        transform: translateY(-110%);
        transition: opacity 0.15s ease-in, transform 0s ease-in;
    }

    .nav__menu .fa-times {
        display: unset;
        color: darkslateblue;
        cursor: pointer;
        align-self: flex-end;
    }

    .nav__menu .fa-times:hover {
        opacity: 0.6;
    }

    .nav__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 500px;
        margin-bottom: 40px;
    }

    .nav__link {
        color: darkslateblue;
        font-weight: 600;
        font-size: 20px;
    }

}

.nav__menu.active {
    display: flex;
    transform: translateY(0);
    opacity: 0.97;
}


h1{
    font-family: 'Times New Roman', Times, serif
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 42px;;
    color: blue;
    text-align:left;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 18px;;
    color: red;
    text-align: center;
}

#newsbox.newsbox{
    display: block;
    padding: 2.4375em 0px;
    background-color: #08B0BF;
    color: #fff;
    max-width: 1170px;
    margin-inline: auto;
    border-radius: 20px;
}













