:root{
  --darkerblue: #5babe3;
  --lighterblue: #84c5f4;
  --lightestblue: #f3d9a6;
  --beige: #f4e1c1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: smooth;
}

header{
  display: flex;
  height: 80px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0px;
  left: 0;
  right: 0;
  background-color: var(--darkerblue);
}

.nav__container{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  padding: 0 35px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: smooth;
}

button{
  background-color: rgb(189, 161, 133);
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}

button a{
  color:white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nav__logo {
  font-size: 26px;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: 900;
}

.nav__btn {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 5px;
  border-radius: 20px ;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav__btn:hover{
  background: rgba( 255, 255, 255, 0.50 );
}

.nav__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  display: none;
  width: 54.5px;
}

.line {
  width: 17px;
  margin: 1.5px;
  height: 2.6px;
  background-color: #fff;
}

.nav__menu{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav__menu .fa-times{
  display: none;
}

.nav__links {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 17px;
  padding: 0 10px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.nav__link:hover {
  opacity: 0.5;
}

@media screen and (max-width:720px) {
  .nav__burger{
      display: inline-flex;
  }

  .nav__menu{
      position: absolute;
      height: 700px;
      width: 92%;
      top: 10%;
      left: 4%;
      border-radius: 2.25%;
      padding: 20px 40px 20px  40px;
      flex-direction: column;
      background-color:rgb(85, 85, 183);
      opacity: 0;
      box-shadow: 0 8px 32px 0 rgba(79, 84, 155, 0.9);
      backdrop-filter: blur( 14px );
      transform: translateY(-110%);
      transition: opacity 0.15s ease-in, transform 0s ease-in;
  }

  .nav__menu .fa-times{
      display: unset;
      color: darkslateblue;
      cursor: pointer;    
      align-self: flex-end;
  }

  .nav__menu .fa-times:hover{
      opacity: 0.6;
  }

  .nav__links{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 550px;
  }
  
  .nav__link{
      color: darkslateblue;
      font-weight: 600;
      font-size: 20px;
  }
}

.nav__menu.active{
  display: flex;
  transform: translateY(0);
  opacity: 0.97;
}


/*overall in grid*/
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 50px;
  padding: 10px;
}

/*Box for the ticket*/
.ticketBox {
  padding: 20px;
  border: 2px solid #E1E4D9;
  background-color: #E1E4D9;
  border-radius: 10px;

  grid-column: 1;
}

.ticketBox h2 {
  font-family: "Libre Franklin", sans-serif;
  margin-top: 0;
}

#adult {
  grid-row: 1/2;
}

#child {
  grid-row: 2/3;
}

#senior {
  grid-row: 3/4;
}

.ticketBox::after {
  content: "";
  clear: both;
  display: table;
}

/*To add on feature*/
.minusAdd {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.minusAdd:hover {
    background-color: #f36856;
}

/*Order Summary*/
.summaryBox {
  padding: 20px;
  padding-bottom: 80px;
  background: #EDEFE4;
  border: 2px solid #E1E4D9;
  border-radius: 10px;
  
  float: inline-end;

  grid-column-start: 2;

  position: relative;
}

.summaryBox h2 {
  font-family: 'Libre Franklin', sans-serif;
}

.tixQuantity{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;
}

.total {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
}

/*Checkout button*/
.checkoutBtn__container{
  /* height: 45px;
  width: 100pxpx;
  background: #476730;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  border: none; */
}

.checkoutLink{
  width: 30px ;
  background-color: blue;
}

.checkoutBtn {
  height: 45px;
  width: 100pxpx;
  background: #476730;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  border: none;

  width: 100px;
  height: 45px;
  font-size: 25px;
  background: red;
  color: white;
  border-radius: 25px;
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

/*Footer*/
.foottext{
  padding-top: 100px;
}

.foottext p{
color: rgb(189, 161, 133);
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}

.footimages ul{
display: flex;
justify-content: center;
margin: 0;
padding: 0;
}

.footimages img{
width: 40px;
height: 40px;
padding-right: 7px;
padding-bottom: 30px;
}

#foot{
font-size: 10px;
text-align: center;
}

.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}