/*Box for the ticket*/
.ticketBox {
    position: relative;
    padding: 20px;
    border: 0;
    width: 55%;
    height: auto;
    margin: 0;
    background-color: #E1E4D9;
    border-radius: 10px;
}

.ticketBox h2 {
    margin-top: 0;
}

.ticketBox p {
    margin-bottom: 5px;
}

/*To add on feature*/
.quantity {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.quantity:hover {
    background-color: #FF0000;
}

/*Calender feature*/
.month {
    padding: 70px 25px;
    width: 100%;
}
/* month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* previous button, inside 'month header' */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* next button, inside 'month header' */
.month .next {
    float: right;
    padding-top: 10px;
}

/* days */
.weekdays {
    margin: auto;
    padding: 10px 0;
    background-color: #aaa;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
  
/* dates (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}
  
/* Highlighting the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}