/*Heading logo*/
.navlogo {
    display: block;
    margin-left:42%;
    width: 50%; 
}

/*Navigation bar*/
.navbar{
    background-color: #ffffff;
  }
  .navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /*Dropdown container*/
  .dropdown {
    float: left;
    padding-top: 20px;
    overflow: hidden;
  }
    
  /*Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 10px 35px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    font-size: 30px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(23, 140, 194);
}
/*-------*/
/*Box for the ticket*/
.ticketBox {
    position: relative;
    padding: 20px;
    border: 0;
    width: 55%;
    height: auto;
    margin: 0;
    background-color: #E1E4D9;
    border-radius: 10px;
}

.ticketBox h2 {
    margin-top: 0;
}

.ticketBox p {
    margin-bottom: 5px;
}

/*To add on feature*/
.quantity {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.quantity:hover {
    background-color: #FF0000;
}